* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./asset/numeros\ da\ sorte.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    position: fixed;
    right: 5px;
    top: 10px;

}
 
.nome {
    color: #00FF00;
    font-size: 40px;
}

.contene {
    padding-top: 250px;
    margin-top: 190px;
}


h1 {
    width: 583px;
    margin: 100px auto 50px;
    font-size: 80px;
    font-weight: 500;
    text-shadow: 5px 5px 10px rgb(105, 80, 80);
    text-decoration: underline;
    text-align: center;
    color: #00FF00;
}

h2 {
    width: 299px;
    height: 20px;
    font-size: 32px;
    font-weight: 600;
    color: #00FF00;
    margin: 0 auto 29px;
    text-align: center;
}


input {
    width: 342px;
    height: 60px;
    padding-left: 40px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(95, 67, 67, 0.25);
    font-size: 40px;
    font-weight: 500;
    opacity: 5.7;
    color: #FFF;
}

.input-min {
    margin-right: 20px;
}


button {
    width: 342px;
    height: 62px;
    padding: 5px 76px;
    border-radius: 10px;
    background: #00FF00;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    margin-top: 30px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

@media (max-width: 780px) {

    body {
        padding: 10px;
        width: 360px;
        max-width: 350px;
        height: 100vh;
    }
    .name {
        position: fixed;
        right:-75px;
        top: -31px;
    }

    .nome {
        font-size: 25px;
        margin-right: -70px;
    }

    .contene {
        padding-top: 50px;
        margin-top:90px;
    }
    .title {
        display: flex;
        flex-direction: column;
       
    }
    

    h1 {
        font-size: 40px;
        margin-top: 280px;
    }

    h2 {
        font-size: 30px;
    }

    .input {
         margin-left: 150px;
    }

    input {
        width: 142px;
        height: 30px;
        padding-left: 10px;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(95, 67, 67, 0.25);
        font-size: 30px;
        font-weight: 500;
        opacity: 5.7;
        color: #FFF;
    }

    button {
        width: 200px;
        height: 42px;
        padding: 0 20px;
        border-radius: 10px;
        background: #00FF00;
        box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
        margin-top: 15px;
        margin-left: 10px;
        text-align: center;
        color: #FFF;
        font-size: 25px;
        font-weight: 400;
        line-height: 2.5px;
        border: none;
        cursor: pointer;
    }
    


}